@salt-frontend:registry=https://repo.pegadaian.co.id/api/v4/packages/npm/
//repo.pegadaian.co.id/api/v4/packages/npm/:_authToken=kvyWshmHQLZ_c-rZ5qLp
//repo.pegadaian.co.id/api/v4/projects/1159/packages/npm/:_authToken=kvyWshmHQLZ_c-rZ5qLp